h1 {
  font-family: Verdana;
  font-size: 50px;
  font-weight: normal;
  color: white;
  display: block;
  text-align: center;
}

body {
  font-family: Verdana;
  text-align: center;
  background-color: black;
  color: white;
}
